@import url('https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: "cascadia code", sans-serif;
    
}

.container{
   display: flex;
   flex-direction: column;
   align-items: center;
   row-gap: 2rem;
}

.logo {
    width: 100%;
    background-color: #F1ECE6;
}

.container > div{
    font-size: 2.5rem;
    /* width: 100%; */
    background-color: #F1ECE6;
    text-align: center;
    padding: .5rem;
    color: #737373;
}

.form {
    width: 100%;
    display: flex;
    justify-content: center;
}

.orange{
    color: orange;
}

.all-items {
    width: 60%;
    border-radius: 20px;
}


#input{
    width: 52%;
    padding: .5rem;
    border: none;
    border-radius: 30px 0 0 30px;
    background-color: #F1ECE6;
    font-size: 1rem;
}


#btn{
    padding: 1.3rem;
    border: none;
    border-radius: 0 30px 30px 0 ;
    background-color: #76B7CD;
    color: white;
    font-size: 1rem;
}

ul{
    background-color: #F1ECE6;
    /* width: 47.5rem; */
    border-radius: 20px;
    font-size: 1rem;
    list-style: none;
    padding: 20px;
}

#list {
    display: flex;
    flex-direction: column;
    row-gap: 1.3rem;
}

.list-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    border-bottom: 1px solid #76B7CD;
}

.list-item > div:first-child {
    display: flex;
    align-items: center;
    gap: .5rem;
}

#checkbox {
    appearance: none;
    display: inline;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    border: 2px solid #555;
}

#checkbox:checked {
    border: 2px solid orange;
    background-color: orange;
}

.delBtn{
    border: none;
    font-size: 20px;
    color: orange;
    background-color: #F1ECE6;
}